body{
  background-color: grey;
}
h1{
  color:blue;
}
h2{
  color: blue;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 50px;
}
